@import url("styless/header.css");
@import url("styless/banner.css");
@import url("styless/sobre.css");
@import url("styless/vagas.css");
@import url("styless/depoimentos.css");
@import url("styless/rodape.css");



:root {
    --fonte-inter: "Inter";
    --cinza2: #667085;
    --branco2: #FFFFFF;
    --vermelho2: #8E2424;
    --preto2: #101828;
    --cinza-claro: #D0D5DD;
}

body {
    font-weight: 500;
    font-size: 16px;
    font-family: var(--fonte-inter);
}